body, html {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 18px;
}
p {
	margin: 1.2em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: #212d90;
}
hr {
	margin: 1em;
	border: 1px solid black;
	clear: both;
}
main a {
	color: #000f9b;
	text-decoration: none;
}
main a:hover {
	color: #621000;
	text-decoration: underline;
}
li {
	float: left;
}
li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(175, 157, 0);
}
div figure {
	width: auto;
}
figure {
	padding: 0.5em;
	margin: 1em 30em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
header {
	display: block;
	width: 100%;
}
footer {
	background-color: rgb(200, 180, 0);
	padding: 0.1em;
	clear: both;
}
footer p {
	color: rgb(0, 0, 0);
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
img {
	width: 100%;
}
.nav_bg_color {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(200, 180, 0);
}
.news img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #27318b;
}
.news hr {
	margin: 1em;
	border: 1px; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
	clear: both;
}
.news time {
	font-size: 90%;
	font-style: initial;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid black;
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}
#gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 22%;
	border: 1px solid black;
}
#gallery figcaption {
	font-size: 90%;
	height: 50px;
	text-align: center;
}
figcaption {
	font-size: 90%;
}

video {
	margin: 0 1em 1em 1em;
	float: left;
}
form label {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
label {
	display: block;
	margin: 1em;
}
iframe {
	margin-left: 20px;
	float: left;
}
form {
	width: 40%;
	float: left;
	margin-left: 50px;
}
input[type=text], input[type=email], select, textarea {
	width: 100%;
    padding: 12px;
    border: 1px solid rgb(168, 168, 0);
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 13px;
	font-family: 'Oswald', sans-serif;
	font-size: 85%;
}
input[type=submit] {
    display: block;
	background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
input[type=submit]:hover {
	background-color: #45a049;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.news img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.news time {
		margin: 0 0 0 1em;
	}
	#news_gallery figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#news_gallery figcaption {
		font-size: 90%;
		text-align: center;
	}
	#gallery figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 40%;
		border: 1px solid black;
	}
	#gallery figcaption {
		font-size: 90%;
		height: 70px;
		text-align: center;
	}
}